body {
	background: linear-gradient(to bottom, #e5b2f3, rgba(204, 229, 255, 0.4));
	font-size: 1.15em;
	text-align: justify;
	font-family: "Lato", sans-serif;
}

input, textarea {
	display: block;
	margin: 10px;
}

#title {
	color: rgb(8, 92, 71);
	font-family: "Sarabun", sans-serif;
}

.subtitle {
	color: rgb(18, 150, 150);
	font-family: "Sarabun", sans-serif;
}

#service-image {
	height: 400px;
	width: 70vw;

	background: radial-gradient(circle, red 20%, blue 40%, green 55%);
	border: 10px solid rgb(28, 28, 79);
}

.link {
	text-decoration: underline;
}

.italics {
	font-style: italic;
}

#about-us-image {
	height: 300px;
	width: 60%;

	border: 6px solid rgb(28, 28, 79);
	margin: 80px 40px;

	float: right;
}

/* Media Query */

@media all and (max-width: 700px){
	body{
		color: blue;
	}
}

/* Pseudo Elements */

p::first-letter{
	color:darkviolet;
	font-size: 30px;
	font-weight: bold;
	background: wheat;
}

p::selection{
	background: red;
	color: #fff;
}

